.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.9);
    /* чорний з прозорістю */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.modalContent {
    position: relative;
    background-color: transparent;
    /* фон прозорий */
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    transform: scale(0.95);
    opacity: 0;
}






/* Кнопка закриття */
.closeButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    z-index: 1001;
}

.closeButton:hover {
    background-color: #f0f0f0;
}